.DS_Store
nvim.bak
.config/karabiner/automatic_backups/
.config/fish/conf.d/
.config/github-copilot/
.config/karabiner/assets/
.config/htop/
.config/mole/
.config/simplex/
*.log
.luarc.json
.config/opencode/package-lock.json
