# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
Applications
Desktop
Library
Developments
Downloads
Documents
Pictures
Movies
Music
Public
.cache
.m2
.local
.vscode
.ssh
*history*
.git-credentials
.gitconfig
.config/fish/fish_variables
.lesshst
.viminfo
.3T
.npm
.swt
