nnoremap gi :action GotoImplementation<CR>
set visualbell
set noerrorbells
nnoremap <leader>di :action OptimizeImports<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap K :action QuickJavaDoc<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap ;f :action GotoClass<CR>
nnoremap ;r :action SearchEverywhere<CR>
